* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.App {
	background-color: rgb(216, 216, 216);
}
.content {
	height: 100%;
}
.container {
	padding: 30px 3vw;
}
.phone {
	text-decoration: none;
	color: rgb(123, 138, 138);
	border-bottom: 1px solid rgb(123, 138, 138);
}

/* _____________ Шапка ______________________ */

.header__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #f5f3f3;
	color: rgb(123, 138, 138);
	font-size: 20px;
	padding: 15px 3vw;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.header__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.list__item {
	text-decoration: none;
	color: rgb(123, 138, 138);
	margin-left: 20px;
	list-style-type: none;
	cursor: pointer;
}
.list__item:hover {
	color: rgb(88, 218, 218);
	transform: scale(1.05);
	transition: 0.5s;
}
.header__contacts {
	display: flex;
	flex-direction: column;
}
.header__contactsTop {
	display: flex;
	align-items: center;
}
.phone__image {
	position: relative;
	top: 4px;
	right: 4px;
}
iframe {
	width: 40px;
	height: 40px;
}
/* _____________ Главная ______________________ */
.promo {
	background: url(../public/images/villa.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: 0px -250px; */
	box-shadow: 5px 3px 6px #666565;
	background-position: left;
}
.promo__title {
	margin-top: 25vh;
	color: black;
}
.promo__description {
	margin-top: 5vh;
	max-width: 40vw;
	line-height: 32px;
	font-weight: 400;
	backdrop-filter: blur(3px);
}
.promo__contacts {
	margin-top: 3vh;
	display: flex;
	align-items: center;
}
.promo__image {
	margin-right: 0.5vw;
	position: relative;
	top: 4px;
}
.promo__number {
	color: black;
	font-size: 24px;
}
.promo__buttons {
	margin-top: 5vh;
}
.promo__button {
	padding: 10px 20px;
	border-radius: 7px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	background-color: rgb(61, 153, 61);
	border: green;
	margin-right: 5vw;
}
.btn__callback {
	background: transparent;
	border: 1px solid black;
}

/* _____________ Преимущества ______________________ */

.advantages__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	margin-top: 50px;
	gap: 40px;
}
.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30%;
	max-height: 40%;
}
.advantages__img {
	width: 27vw;
	height: 40vh;
	box-shadow: 8px 8px 4px #666565;

	object-fit: cover;
	border-radius: 15px;
}
.advantages__title {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 700;
}

/* _______________ Варианты жилья ___________________ */

.rooms__container {
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
	justify-content: center;
}
.rooms__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30%;
	max-height: 35%;
}
.rooms__title {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 400;
}
.rooms__image {
	margin: 25px 0 35px 0;
	width: 90%;
	height: 90%;

	cursor: pointer;
	box-shadow: 6px 6px 4px #666565;

	border-radius: 15px;
	transition: 500ms ease;
}
.rooms__image:hover {
	transform: scale(1.05);
	transition: 500ms ease;
	box-shadow: 12px 12px 10px #666565;
}
.rooms__price {
	margin-top: 15px;
	font-size: 18px;
}

/* _______________ Поблизости ___________________ */

.nearby__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	gap: 50px;
}
.nearby__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30%;
	max-height: 30%;
}
.nearby__title {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 400;
}
.nearby__image {
	width: 25vw;
	height: 40vh;

	object-fit: cover;
	margin-top: 15px;
	border-radius: 15px;
}
.nearby__img {
	width: 25vw;
	height: 40vh;
	box-shadow: 8px 8px 4px #666565;
	object-fit: cover;
	margin-top: 15px;
	border-radius: 15px;
}
.nearby__description {
	margin-top: 15px;
	font-size: 18px;
}

/* ___________ Контакты _______________________ */

.contacts__container {
	display: flex;
	justify-content: center;
	gap: 5vw;
}
.contacts__content {
	width: 15vw;
	line-height: 26px;
}
.contacts__title {
	margin-top: 5vh;
	font-size: 28px;
	padding-bottom: 30px;
}
.contacts__phone {
	padding-bottom: 10px;
	font-weight: bold;
}
.contacts__border {
	border-bottom: 1px solid #bbb9b9;
}
.contacts__btn {
	margin-top: 15px;
}

/* ___________ Подвал _______________________ */

footer {
	background-color: rgb(123, 138, 138, 1);
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 400;
}
.footer__text {
	margin-right: 20px;
}
.footer__icon {
	margin: 10px;
}

/* ___________ PopUp-комнаты _______________________ */

.popup__bg {
	background-color: rgb(123, 138, 138, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: -1;
	opacity: 0;

	transition: 500ms ease-in;
}

.popup__item {
	background-color: #f5f3f3;
	border-radius: 20px;
	padding: 15px 20px 20px 20px;
	z-index: 10;
	position: relative;
	overflow: hidden;
	transform: scale(0.8);

	transition: 0.5s ease-in;
}
.popup__desc {
	font-weight: 500;
	font-size: 14px;
}
.popup__list {
	font-weight: 300;
	font-size: 14px;
	margin-left: 30px;
	line-height: 1.3;
}
table {
	font-weight: 300;
	font-size: 14px;
	line-height: 1;
	margin: 0 auto;
	width: 500px;
	border: 1px solid rgb(123, 138, 138, 0.4);
}
th {
	width: 20%;
	text-align: left;
	padding: 5px 15px;
	background-color: rgb(123, 138, 138);
}
td {
	width: 30%;
	text-align: left;
	padding: 5px 15px;
}
.btn__close {
	padding: 5px 10px;
	position: absolute;
	width: 50px;
	top: 0.1vh;
	right: 1vw;

	border-radius: 50%;
	border-color: transparent;
	cursor: pointer;
}
.btn__popup {
	padding: 5px 10px;
	font-weight: 500;
	font-size: 18px;
	display: block;
	margin: 10px auto 0 auto;
}

/* ___________ Карусель номеров____________________ */

.popup__carousel {
	margin: 0 auto;
	max-height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}
.carousel__container {
	display: flex;
}
.carousel_arrow {
	max-width: 30px;
	z-index: 100;
	cursor: pointer;
	position: absolute;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 300ms ease-in;
	user-select: none;
}
.arrow__left {
	top: 50%;
	left: 0.5vw;
}
.arrow__right {
	transform: rotate(180deg);
	top: 50%;
	right: 0.5vw;
}
.carousel_arrow:hover {
	background-color: rgba(97, 179, 179, 0.7);
}

.carousel__item {
	width: 100%;
	object-fit: cover;
	z-index: 50;
}

/* ___________ PopUp-бронь _______________________ */

.booking__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f5f3f3;
	border-radius: 20px;
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	max-width: 650px;
	transform: scale(0.8);

	transition: 0.5s ease-in;
}
.booking__title {
	margin-top: 30px;
	font-size: 24px;
}
.booking__description {
	margin-top: 15px;
	font-size: 16px;
	text-align: center;
}
.booking__form {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.booking__form p {
	font-size: 16px;
	font-weight: 500;
	margin: 5px 0;
}
.form__text {
	padding: 5px 8px;
	font-size: 18px;
	width: 350px;
}
.form__des {
	margin-bottom: 50px;
}
.disclaimer {
	font-size: 14px;
	color: rgb(123, 138, 138);
	opacity: 0.6;
	margin-top: 30px;
}
.btn__booking {
	margin-right: 5vw;
}
/* ___________ PopUp-один клик ____________________ */

.oneClick__item {
	display: flex;
	flex-direction: column;
	background-color: #f5f3f3;
	border-radius: 20px;
	padding: 10px 30px;
	position: relative;
	overflow: hidden;
	max-width: 450px;
	transform: scale(0.8);

	transition: 0.5s ease-in;
}
.booking__form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.oneClick__title {
	margin-top: 30px;
	font-size: 28px;
}

.oneClick__description {
	font-size: 18px;
}

.oneClick__item button {
	margin: 0 auto;
}

.overlayActive {
	opacity: 1;
	z-index: 15;
	transition: 500ms ease-in;
}

.itemActive {
	transform: scale(1);
	transition: 0.5s ease-in;
}
